<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta property="qc:admins" content="14532632016115616461107617750124171645060454" />
    <link rel="icon" href="/img/logo.ico" mce_href="/img/logo.ico" type="image/x-icon">
	<title>微派 WeParty</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
	<link rel="stylesheet" href="/css/screen.css">
    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/jquery-validate/jqueryValidate.js"></script>
    
    <style></style>
</head>
<body>
